// Typography

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$open-sans: 'Open Sans', sans-serif;

//Colors

$display: #E0ECE4;
$body: #F7F2E7;
$buttons: #D8D3CD;
$buttons-hover: #e7e0da;
$buttons-active: #cac3ba;
$letters: #797A7E;

// Gradient

$dark-color: #b8c4bc;
$light-color: #E0ECE4;