doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        
        title Calculator
    body 
        main 
            .calculator
                .display
                        p.display-nums#displayNums 0
                button#pow2(onclick="power(2)") x²
                button#pow3(onclick="power(3)") x³
                button#deleteNum(onclick="deleteNum()") DEL
                button#reset(onclick="reset()") AC
                button#square(onclick="square()") ²√x
                button %
                button#plusMinus(onclick="changeSign()") +/-
                button(onclick="operation(4)") /
                button#number7(onclick="pushNumber(7)") 7
                button#number8(onclick="pushNumber(8)") 8
                button#number9(onclick="pushNumber(9)") 9
                button(onclick="operation(3)") *
                button#number4(onclick="pushNumber(4)") 4
                button#number5(onclick="pushNumber(5)") 5
                button#number6(onclick="pushNumber(6)") 6
                button.plus#plus(onclick="operation(1)") +
                button#number1(onclick="pushNumber(1)") 1
                button#number2(onclick="pushNumber(2)") 2
                button#number3(onclick="pushNumber(3)") 3
                button#dot(onclick="pushNumber('.')") .
                button#number4(onclick="pushNumber(0)") 0
                button#equals(onclick="equals()") =
                button(onclick="operation(2)") -
        script(src="script.js")

