doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(src="script.js")
        title Calculator
    body 
        main 
            .calculator
                .display
                    .display-up 
                    .display-down 
                button x²
                button x³
                button DEL
                button AC
                button ²√x
                button %
                button π
                button /
                button 7
                button 8
                button 9
                button *
                button 4
                button 5
                button 6
                button.plus +
                button 1
                button 2
                button 3
                button .
                button 0
                button =
                button -

